              body {
                  background: #ffffff;
                  color: #8e7200;
                  /*
                  font-family: Verdana, Arial, Helvetica, sans-serif;
                  font-size: medium;*/
              }
              
              .modal {
                  position: fixed;
                  top: 22%;
                  right: -7%;
                  bottom: 0;
                  left: 0;
                  z-index: 1050;
                  display: none;
                  overflow: hidden;
                  -webkit-overflow-scrolling: touch;
                  outline: 0;
              }
              
              .modal-content {
                  background: #f7f6ed;
              }
              
              .modal-header {
                  border-color: #8e7200;
              }
              
              .modal-footer {
                  border-color: #8e7200;
              }
              
              @media screen and (min-width: 200px) {
                  body {}
                  .panel {
                      width: 90%;
                      background: #efeddc;
                  }
              }
              
              @media screen and (min-width: 480px) {
                  body {}
                  .panel {
                      width: 70%;
                      background: #efeddc;
                  }
              }
              
              @media screen and (min-width: 700px) {
                  body {}
                  .panel {
                      width: 715px;
                  }
                  .panel {
                      border-width: 1px;
                      border-color: #8e7200;
                      background: #efeddc;
                  }
              }
              
              .taxo {
                  float: right;
              }
              
              .reino, .division, .clase, .orden, .familia, .genero, .especie, .subespecie {
                  width: 320px;
              }
              
              #MSG_MODAL, #N_SUB_Modal {
                  top: 25%;
                  outline: none;
              }